.card-projeto {
  width: 300px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: start; 
  border-radius: 20px;
  padding: 15px 20px; 
  background: #273461;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.card-projeto:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(245, 158, 11, 0.3);
}

.card-img {
  width: 100%;
  display: flex;
  justify-content: center; /* Centraliza a imagem */
}

.card-img img {
  border-radius: 20px;
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
}

.card-tec-tit{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.card-icones{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.card-titulo {
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
  margin: 0;
  font-weight: 900;
}

.card-descricao{
  height: 80px;
  font-size: 0,875rem;
  text-indent: 0.8rem;
  color: #E0E0E0;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 10px;
}

.card-buttons {
  display: flex;
  gap: 10px; 
  margin-top: 15px; 
  align-items: center;
  justify-content: center;
}

@media  (max-width:800px) {
  .card-projeto{
    height: auto;
  }

  .card-descricao{
    height: auto;
  }

  .card-buttons{
    flex-direction: column;
    width: 100%;
  }
}