.conhecimento{
    padding-top: 60px;
    padding-bottom: 120px;
}

.conhecimento-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 20px;

}

.conhecimento-card:hover{
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.conhecimento-card:hover  > :not(:hover) {
    filter: blur(1px);
    opacity: 0.5;
    transform: scale(0.95);
}

@media(max-width:800px){
    .conhecimento-card:hover  > :not(:hover) {
        filter: none;
        opacity: none;
        transform: none;
    }
}